<div class="profile">
  <img class="profile__photo" src="{{ site.profile.photo | relative_url }}" alt="{{ site.profile.name }}" />

  <div class="profile__name">{{ site.profile.name }}</div>
  <div class="profile__tagline">{{ site.description }}</div>

  {% if site.profile.designations %}
  <ul class="profile__list">
    {% for d in site.profile.designations %}
    <li>{{ d }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="profile-contact">

    {% if site.social.email %}
    <div class="contact-item">
      <span class="contact-icon">
        ✉️
      </span>
      <a href="mailto:{{ site.social.email }}">{{ site.social.email }}</a>
    </div>
    {% endif %}

    {% if site.social.twitter %}
    <div class="contact-item">
      <span class="contact-icon">𝕏</span>
      <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" rel="noreferrer">
        @{{ site.social.twitter }}
      </a>
    </div>
    {% endif %}

    {% if site.social.github %}
    <div class="contact-item">
      <span class="contact-icon">💻</span>
      <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noreferrer">
        github.com/{{ site.social.github }}
      </a>
    </div>
    {% endif %}

    {% if site.social.linkedin %}
    <div class="contact-item">
      <span class="contact-icon">in</span>
      <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noreferrer">
        linkedin.com/in/{{ site.social.linkedin }}
      </a>
    </div>
    {% endif %}

    {% if site.social.facebook %}
    <div class="contact-item">
      <span class="contact-icon">f</span>
      <a href="https://facebook.com/{{ site.social.facebook }}" target="_blank" rel="noreferrer">
        facebook.com/{{ site.social.facebook }}
      </a>
    </div>
    {% endif %}

  </div>

</div>